<!DOCTYPE html>
<html>
<body bgcolor= lightgray >
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>

    <a href="http://www.google.com">
      <button type="button" class="btn btn-primary">Primary</button>
    </a>
    <h1 ALIGN=CENTER><%= title %></h1>
    <p ALIGN=CENTER> HackIllionis 2018 <%= title %></p>
    <P ALIGN=CENTER>This is aligned center.</P>


    <ul>
      <li>first item</li>
      <li>second item</li>
      <li>third item</li>
    </ul>

    <div class="card-cont" >
      <div class="card">
        <img class="card-img-top" src="/images/istanbbul.png" alt="Card image cap">
        <div class="card-body">

          <h5 class="card-title">Card 1</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img id="puppeteer-img" class="card-img-top" src="/images/pupeeter2.png" alt="Card image cap">
        <div class="card-body">

          <h5 class="card-title">Card 2</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/images/chrome.png" alt="Card image cap">
        <div class="card-body">

          <h5 class="card-title">Card 3</h5>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </body>
  </html>
