body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card { width: 18rem; }

.card-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

#puppeteer-img {
  height: 18rem;
  width: 15.10rem;
  margin: auto;
}

ul {
  list-style: square;

}
